/* Main Container */
.container-fluid {
  background-color: #000;
}

/* Navigation Tabs */
.nav-tabs {
  border: none;
  align-items: center;
}

/* Individual Navigation Tabs (a tag inside)*/
.nav-tabs .nav-item {
  height: 5rem;
}

/* Active Navigation Tab */
.nav-tabs .nav-item .active {
  background-color: #ffcd00;
  border: none;
}

.nav-tabs .nav-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.25rem;
  height: 100%;
  align-content: center;
}

/* Tab Content (div > h3 > p) */
.tab-content {
  background-color: #ffcd00;
}

/* Instructors Carousel */
.m-tab-content-heading {
  margin: 2rem 2rem 4rem 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.m-instructor-carousel-container {
  margin: 2rem;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.m-instructor-card {
  width: 50vw;
  border: 2px solid #000;
  height: 75vh;
  background-image: url(./assets/Fin.png);
}