html, body, #root {
  background-color: transparent !important;
}

// RESPONSIVELY RENDER COMPONENTS BASED ON SCREEN SIZE
@media (max-width: 768px) {
  .mobile-layout {display: block;}
  .desktop-layout {display: none;}
}

@media (min-width: 769px) {
  .mobile-layout {display: none;}
  .desktop-layout {display: block;}
}

/* Main Container */
.container-fluid {
  background-color: transparent !important;
  margin: 0;
  overflow-x: hidden;
}


// MOBILE INSTRUCTORS SHOWCASE
#previousInstructor, #nextInstructor {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  background-color: #fff !important;
  width: 3rem;
  aspect-ratio: 1/1;
   
}

#previousInstructor {
  left: 1rem;
}

#nextInstructor {
  right: 1rem;
}

.m-instructor-carousel-container {
  background-color: transparent !important;
}



.m-instructor-slide {
  margin: 0rem auto 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  text-align: center;
  flex-wrap: nowrap;
  gap: 2rem;
  width: 90%;
  min-height: unset;
  height: auto;
  background-color: #ffcd00;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.m-carousel-scroll-item {
  aspect-ratio: 281/409;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: auto;

  &::after, &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
    z-index: 1;
  }

  &::after {
    background-image: var(--active-bg);
  }

  &::before {
    background-image: var(--default-bg);
  }

  &::before, &.active::after {
    opacity: 1;
  }

  &::after, &.active::before {
    opacity: 0;
  }


}


.m-instructor-info-tray {
  width: 100%;

  // Name
  h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
  }

  // Title
  h5 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  // Quote
  h6 {
    font-size: 1rem;
    font-weight: 500;
  }

  // Bio
  p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .m-booking-button {
    margin-top: 1rem;
    background-color: #000;
    font-weight: 600;
    width: 100%;
  }
}



// DESKTOP INSTRUCTORS SHOWCASE
.d-instructor-container {
  padding: 2rem;

  #Noi {
    background-position: 50% 15%;
  }

  #Fin {
    background-position: 50% 10%;
  }

  #Lock {
    background-position: 50% 10%;
  }

  #Jen {
    background-position: 50% 10%;
  }

  #Matt {
    background-position: 50% 22%;
  }

  #David {
    background-position: 50% 5%;
  }

  .d-instructor-thumbnails {
    display: flex;
    flex-direction: column;    
  }

  .d-instructor-info-panel {
    display: flex;
    align-items: center;
    .d-instructor-info-tray {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      text-align: left;
      background-color: #fffbe7;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    }
  }

  .d-instructor-large-image {
    width: 100%;
    height: 90%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin: 0 auto;
  }

  .d-instructor-booking-row {
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    .d-booking-button {
      width: 50%;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 0.7rem;
      border-radius: 1rem;
      background-color: #ffcd00;
      color: #000;
      border: none;
    }
  }

}